body{
  
    background-image:url("./img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
  }
  h1{
  
    color: white;
  }
  h2{
    color: white;
  }
  .App {
    text-align: center;
    margin-top: 60px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* background-color: #f9f9f9; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px);
  }
  .chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* background-color: #f9f9f9; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px);
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
    
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  .login{
    text-align: left;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    /* color: white; */
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  p {
    margin-top: 20px;
    color: #28a745;
  }
  